extends ../../layouts/app.pug

block title
  title Reports

block stylesheets
  link(rel="stylesheet" href="/styles/global.css")
  link(rel="stylesheet" href="/styles/app.css")
  link(rel="stylesheet" href="/styles/ao/dashboard.css")

block main
  h1 Reports