extends ../../layouts/app.pug

block title
  title Communication

block stylesheets
  link(rel="stylesheet" href="/styles/global.css")
  link(rel="stylesheet" href="/styles/app.css")

block main
  h1 Communication