extends ../../layouts/app.pug

block title
  title New Urban Farmer

block main
  form#new-urban-farmer.bg-white.rounded.p-3.container(action="" method="post" autocomplete="off")
    if user.status === "Active"
      input(autocomplete="false" name="hidden" type="text" style="display: none;")
      h5.fw-bold.mb-4 Urban Farmer Details
      .row.row-cols-1.row-cols-md-2.gy-2.mb-3
        div
          label.form-label.fs-6(for="unique-id") Unique ID
          input#unique-id.form-control.form-control-sm(type="text" name="unique-id")
          #unique-id-error.fs-6.text-danger
        div
          label.form-label.fs-6(for="password") Password
          input#password.form-control.form-control-sm(type="password" name="password")
          #password-error.fs-6.text-danger
        div
          label.form-label.fs-6(for="full-name") Full name
          input#full-name.form-control.form-control-sm(type="text" name="full-name")
          #full-name-error.fs-6.text-danger
        div
          label.form-label.fs-6(for="gender") Gender
          select#gender.form-select.form-select-sm(name="gender")
            option(value="" disabled selected) Choose gender 
            option(value="Male") Male
            option(value="Female") Female
          #gender-error.fs-6.text-danger
        div
          label.form-label.fs-6(for="date-of-birth") Date of Birth
          input#date-of-birth.form-control.form-control-sm(type="date" name="date-of-birth")
          #date-of-birth-error.fs-6.text-danger
        div
          label.form-label.fs-6(for="phone-number") Phone Number
          input#phone-number.form-control.form-control-sm(type="tel", name="phone-number")
          #phone-number-error.fs-6.text-danger
        div
          label.form-label.fs-6(for="nin-number") NIN Number
          input#nin-number.form-control.form-control-sm(type="tel", name="nin-number")
          #nin-number-error.fs-6.text-danger
        div
          label.form-label.fs-6(for="activities-undertaken") Activities Undertaken
          textarea#activities-undertaken.form-control.form-control-sm(name="activities-undertaken" cols="30" rows="10" placeholder="Enter each activity on a new line")
          #activities-undertaken-error.fs-6.text-danger
      .text-end
          button.btn.btn-primary(type="submit") Create Urban Farmer
    else
      .alert.alert-danger Only currently appointed FarmerOnes can add urban farmers
  script(src="/scripts/fo/urban-farmer-validate.js")