extends ../layouts/base.pug

block title
 title UFarm Routes

block body
  h1 Routes
  ul
    li
      a(href="/login") Login
    li
        a(href="/market") Market
    li Agricultural Officer
      ul
        li
          a(href="/ao") Dashboard
        li
          a(href="/ao/farmer-ones") FarmerOnes
        li
          a(href="/ao/new-farmer-one") New FarmerOne
        li
          a(href="/ao/communication") Communication
        li
          a(href="/ao/reports") Reports
    li FarmerOne
      ul
        li
          a(href="/fo") Dashboard
        li
          a(href="/fo/urban-farmers") Urban Farmers
        li
          a(href="/fo/new-urban-farmer") New Urban Farmer
        li
          a(href="/fo/produce-inspections") Produce Inspections
        li
          a(href="/fo/bookings-and-orders") Bookings and Orders
        li
          a(href="/fo/communication") Communication
    li Urban Farmer
      ul
        li
          a(href="/uf") Dashboard
        li
          a(href="/uf/my-products") My Products
        li
          a(href="/uf/new-product") New Product
        li
          a(href="/uf/produce-inspections") Produce Inspections
        li
          a(href="/uf/bookings-and-orders") Bookings and Orders
        li
          a(href="/uf/communication") Communication
        li
          a(href="/uf/reports") Reports
    li General Public