#sidebar {
  width: 300px;
}

.sidebar {
  background-color: white;
  position: fixed;
  top: 0;
  left: -300px;
  bottom: 0;
  width: 300px;
  transition: left .5s ease-out;
}

@media screen and (min-width: 992px) {
  .sidebar {
    left: 0;
  }

  .main {
    margin-left: 300px;
  }
}

.material-icons {
  vertical-align: -.25em;
}